{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top p-2">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">WFM</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item me-3">
                        <a class="nav-link" aria-current="page" href="/">홈</a>
                    </li>
                    <li class="nav-item dropdown me-3">
                        <a class="nav-link dropdown-toggle" href="#" id="apiDocsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            API 문서
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="apiDocsDropdown">
                            <li><a class="dropdown-item" href="{% url 'main:swagger-ui' %}" target="_blank">Swagger</a></li>
                            <li><a class="dropdown-item" href="{% url 'main:redoc' %}" target="_blank">ReDoc</a></li>
                            <li><hr class="dropdown-divider" style="background-color: white;"></li>
                            <li><a class="dropdown-item" href="{% url 'rest_framework:login' %}" target="_blank">REST API Login</a></li>
                        </ul>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link" aria-current="page" target="_blank" href="{% url 'admin:index' %}">Django Admin</a>
                    </li>
                    </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
<footer>
    <div class="container" style="height: 100px;"></div>
</footer>
</html>